
<div layout="row" style="height:100vh">
	<md-sidenav md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" style="height:100%; width:15em">
		<md-toolbar class="toolbarClass md-whiteframe-z1" md-scroll-shrink>
			<div class="md-toolbar-tools" style="color: white; background-color: rgb(63,81,181)" >
				GradeBook
			</div>
		</md-toolbar>
		<md-divider></md-divider>
		<md-menu-item>
			<md-button class="sideBarButton" ng-click="sidebarVM.goToHome()">
				<ng-md-icon class="sideBarIcon" icon="home" style="fill: white"></ng-md-icon>
				&nbsp Home
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button class="sideBarButton" ng-click="sidebarVM.goToSem()">
				<ng-md-icon class="sideBarIcon" icon="apps" style="fill: white"></ng-md-icon>
				&nbsp Semesters
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button class="sideBarButton" ng-click="sidebarVM.goToGpa()">
				<ng-md-icon class="sideBarIcon" icon="create" style="fill: white"></ng-md-icon>
				&nbsp GPA
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button class="sideBarButton" ng-click="sidebarVM.goToCalc()">
				<ng-md-icon class="sideBarIcon" icon="grade" style="fill: white"></ng-md-icon>
				&nbsp Grade Calculator
			</md-button>
		</md-menu-item style="padding-top: 3em">
		<md-divider class="sideBarDivider"></md-divider>
		<md-menu-item>
			<md-button class="sideBarButton" ng-click="sidebarVM.goToHelp()">
				<ng-md-icon class="sideBarIcon" icon="help" style="fill: white"></ng-md-icon>
				&nbsp Help
			</md-button>
		</md-menu-item>

		<md-menu-item>
			<md-button class="sideBarButton" ng-click="sidebarVM.goToFeedback()">
				<ng-md-icon class="sideBarIcon" icon="mail" style="fill: white"></ng-md-icon>
				&nbsp Feedback
			</md-button>
		</md-menu-item>
		
		<md-menu-item>
			<md-button class="sideBarButton" ng-click="sidebarVM.Logout()">
				<ng-md-icon class="sideBarIcon" icon="logout" style="fill: white"></ng-md-icon>
				&nbsp Logout
			</md-button>
		</md-menu-item>
	</md-sidenav>
</div>