<div layout="row">
	<md-sidenav md-component-id="left" class="md-sidenav-left">
	<md-menu-item>
		<md-button ng-click="sidebarVM.goToHome()">
		Homepage
		</md-button>
	</md-menu-item>
	<md-menu-item>
		<md-button ng-click="sidebarVM.goToSem()">
		Semesters
		</md-button>
	</md-menu-item>
	<md-menu-item>
		<md-button ng-click="">
		GPA
		</md-button>
	</md-menu-item>
	<md-menu-item>
		<md-button ng-click="">
		Grade Calculator
		</md-button>
	</md-menu-item>
	<md-divider></md-divider>
	<md-menu-item>
		<md-button ng-click="">
		Logout
		</md-button>
	</md-menu-item>
		<md-menu-item>
		<md-button ng-click="">
		Settings
		</md-button>
	</md-menu-item>
	</md-sidenav>
</div>