<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Grade Calculator</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content dialog-size">
        <h2>{{calculatorDialogVM.course.courseId}}: &nbsp
            {{calculatorDialogVM.course.courseName}}</h2>
        <div ng-repeat="section in calculatorDialogVM.section">
          <h3>
          {{section.sectionName}}
          {{section.weight}}%
          </h3>
          <div ng-repeat="grade in section.grades" layout="row">
          <span flex = "5"></span>
          {{grade.name}}
          <span flex></span>
          {{grade.grade}} /
          {{grade.totalGrade}}
          </div>
        </div>
        <div align ="right">
        <span flex></span>Total Points: {{calculatorDialogVM.totalOverallReceived}} / {{calculatorDialogVM.totalOverall}} &nbsp 
        </div>
        <h4><md-progress-linear md-mode="determinate" value="{{calculatorDialogVM.actualPoints}}"></md-progress-linear></h4>
        <h4>Actual: {{calculatorDialogVM.actualPoints}} / {{calculatorDialogVM.totalSection}}</h4>
        <h4>Letter Grade:</h4>
        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="assets/img/icons/menu.svg">
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end end">
      <md-button href="http://mycourses.purdue.edu" target="_blank" md-accent md-align="right">
        More on BlackBoard
      </md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>
