<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Grade Calculator</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content dialog-size">
        <h2>Percent of Total Grade:</h2>
        <p>
          You are passing.
        </p>

        <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="assets/img/icons/menu.svg">

        <h2>Percent Grade:</h2>
        <p>
          Still passing.
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end end">
      <md-button href="http://mycourses.purdue.edu" target="_blank" md-accent md-align="right">
        More on BlackBoard
      </md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>