  <md-content flex md-scroll-y layout-fill layout-padding>
    <div layout="row" layout-align="center center">
       <md-card flex-gt-sm="90" flex-gt-md="80" layout-padding>
        <md-card-content>
          <div layout="row">
              <div class="semester"> 
              <span flex="100"></span>
                <h2>
                {{courseVM.semester.name}} 
                {{courseVM.semester.year}}
                </h2>
                <span flex></span>
           		<md-button class="md-icon-button" ng-click="courseVM.deleteSemester()">
     						<ng-md-icon icon="delete" size="30"></ng-md-icon>
     			</md-button>
              </div>
              <span flex></span>
              <div class="semester">
                <h2>
                  Total Credit Hours: {{courseVM.sum}}
                </h2>
              </div>
          </div>
          <div>
              <md-list layout="column">
                <md-item  ng-repeat="course in courseVM.courses">
                  <md-item-content>
                    <md-menu-item>
                      <md-button ng-click="courseVM.goToGrades(course)">
                        <div layout="column">
                        <h3>{{course.courseId}}: &nbsp
                        {{course.courseName}} </h3>
                      </div>   
                       </md-button>
                      </md-menu-item>
                    <md-divider  hide-sm ng-if="!$last"></md-divider>
                  </md-item-content>
                
                </md-item>
              </md-list>
          </div>
        </md-card-content>
       </md-card>
    </div>
  </md-content>
  <md-button aria-label="menu" class="md-fab md-primary md-raised md-fab-bottom-right" ng-click="courseVM.openDialog($event)">
          <ng-md-icon  icon="add" size="24" style="fill: white"></ng-md-icon>
   </md-button>