md-content.md-default-theme {
  background-color: #eee;
}

.center {
	margin:auto;
}

.dashboard-courses {

}

md-card {
	margin-top: 7em;
}
.calculate-button{
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
    position: absolute;
}