md-content.md-default-theme {
  background-color: #eee;
}

.section {

    padding-left: 5em;
}

.center {
	margin:auto;
}

.dashboard-courses {

}

md-card {
	margin-top: 7em;
}
.calculate-button{
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
    position: absolute;
}

.dialog-size{
	width: 50em;
}

.md-button.md-fab {
	line-height: 68px;
}

.activeTab {
	color: rgb(255,255,255);
    background-color: rgb(255,87,34);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.gradeClass {
    min-height: 30em;

}