<md-toolbar class="toolbarClass md-whiteframe-z1" md-scroll-shrink>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Menu" ng-click="toolBarVM.openLeftSideNav()" hide-gt-md>
					<ng-md-icon icon="menu"></ng-md-icon>
				</md-button>
				<span class="directory">
					{{toolBarVM.dir}}
				</span>
				<div flex></div>

				<md-menu>
					<md-button class="md-icon-button" aria-label="Open settings menu" ng-click="$mdOpenMenu($event)">
							<ng-md-icon icon="settings">
							</ng-md-icon>
					</md-button>
					<md-menu-content>
						<md-menu-item> Hi</md-menu-item>
					</md-menu-content>
				</md-menu>
				
			</div>
</md-toolbar>
	<!-- This adds a custom directive of sidebar inside toolbar  -->