<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="registerVM.register()" role="form">
        <div layout="row">
            <md-input-container flex="50">
                <label>First Name</label>
                <input md-maxlength="15" required ng-model="registerVM.user.firstName" />
                <div ng-messages="form.firstName.$error">
                    <div ng-message="required">First name is required.</div>
                    <div ng-message="md-maxlength">First name must be less than 15 characters.</div>
                    <div ng-message="pattern">First name must only contain letters.</div>
                </div>
            </md-input-container>
            
            <!--<label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="registerVM.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>-->
        </div>
        <div layout="row">
            <md-input-container flex="50">
                <label>Last Name</label>
                <input md-maxlength="15" required ng-model="registerVM.user.lastName" />
                <div ng-messages="form.lastName.$error" md-auto-hide="true">
                    <div ng-message="required">Last name is required.</div>
                    <div ng-message="md-maxlength">Last name must be less than 15 characters.</div>
                    <div ng-message="pattern">Last name must only contain letters.</div>
                </div>
            </md-input-container>
            
            <!--<label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="registerVM.user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>-->
        </div>
        <div layout="row">
            <md-input-container flex="50">
                <label>Email</label>
                <!--ng-pattern="/^.+@.+\..+$/"-->
                <input required  ng-model="registerVM.user.id" />
                <div ng-messages="form.id.$error" md-auto-hide="true">
                    <div ng-message="required">Email is required.</div>
                    <!--<div ng-message="pattern">Must be a valid email address.</div>-->
                </div>
            </md-input-container>
            
            <!--<label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="registerVM.user.id" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>-->
        </div>
        <div layout="row">
            <md-input-container flex="50">
                <label>Password</label>
                <input required ng-model="registerVM.user.password" />
                <div ng-messages="form.id.$error" md-auto-hide="true">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>
            
            <!--<label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="registerVM.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>-->
        </div>
        <div class="form-actions">
            <md-button type="submit" ng-disabled="form.$invalid || registerVM.dataLoading" class="btn btn-primary">Register</md-button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
    <div ng-if ="registerVM.duplicateId">
        Aw Hell No
    </div>
</div>