  <md-content flex md-scroll-y layout-fill layout-padding>
  	<div layout="row" layout-align="center center">
  		 <md-card flex-gt-sm="90" flex-gt-md="80" layout-padding>
  			<md-card-content>
           		<h3> Semesters </h3>
           		<md-list>
           			<md-item>
           				<md-item-content ng-repeat="semester in semesterVM.semesters">
           					 	<div class="dashboard-courses">
           					 		{{semester.name}}
                        {{semester.year}}
           					 	</div>
                      <md-divider  hide-sm ng-if="!$last"></md-divider>
           				</md-item-content>
           			
           			</md-item>
           		</md-list>
     		</md-card-content>
   		 </md-card>
   	</div>
  </md-content>
    <md-button ng-click="homeVM.addItem2()">Test</md-button>