  <md-content flex md-scroll-y layout-fill layout-padding>
  	<div layout="row" layout-align="center center">
  		 <md-card flex-gt-sm="90" flex-gt-md="80" layout-padding>
  			<md-card-content>
           		<h3> Courses </h3>
              <span flex> </span>
           		<md-list>
           			<md-item>
           				<md-item-content ng-repeat="course in homeVM.courses">
                    <md-menu-item>
                      <md-button ng-click="homeVM.goToGrades(course.courseName)">
           					  	<div class="dashboard-courses">
                        <h3>
           					 		{{course.courseId}}: &nbsp {{course.courseName}}
                        </h3>
           					 	</div>
                       </md-button>
                      </md-menu-item>
                    <md-divider  hide-sm ng-if="!$last"></md-divider>
           				</md-item-content>
           			
           			</md-item>
           		</md-list>
     		</md-card-content>
   		 </md-card>
   	</div>
  </md-content>
