  <md-content flex md-scroll-y layout-fill layout-padding>
  	<div layout="row" layout-align="center center">
  		 <md-card class="gradePage" flex layout-padding>
  			<md-card-content layout="column">
          <div layout="row" flex>
            <span flex></span>
            <div class="course" layout-align="center start">
              <h1> {{gradeVM.course.courseName}} </h1> 
            </div>
            <span flex></span>
          </div>
          <div layout="row" flex>
            <div class="course">
              <h3>
               Credit Hours : {{gradeVM.course.creditHours}} 
              </h3>
            </div>
            <span flex></span>
            <md-menu>
                    <md-button class="md-icon-button course" ng-click="$mdOpenMenu($event)" aria-label="more options button">
                     <ng-md-icon icon="more_vert" size="30"></md-icon>
                    </md-button>
                    <md-menu-content>
                      <md-menu-item>
                      <md-button  ng-click="gradeVM.openEditDialog($event)" aria-label="edit button">
                       Edit
                      </md-button>
                      </md-menu-item>
                      <md-menu-item>
                      <md-button aria-label="delete button" ng-click="gradeVM.deleteCourse">
                        Delete
                      </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
           <!--  <md-button class="md-icon-button course" ng-click="gradeVM.deleteCourse()" aria-label="delete">
              <ng-md-icon icon="delete" size="30"></ng-md-icon>
            </md-button> -->
          </div>
     		</md-card-content>
     		<md-tabs md-selected="gradeVM.selectedTab" md-dynamic-height md-border-bottom>
     			<md-tab label="overview">
     				<md-content class="md-padding" layout="column">
     					  <div layout="row">
     						<span class="md-display-2">Overview</span>
     						<span flex></span>		
                <span ng-if="gradeVM.actualGrade != 0" class="md-display-3">{{gradeVM.actualGrade}}</span>
                </div>
     					
    					<div ng-repeat="section in gradeVM.section">
    						<h3>
    						{{section.sectionName}}
    						({{section.weight}}%)
    						</h3>
    						<md-divider></md-divider>
    							<div ng-repeat="grade in section.grades" layout="row">
    								<span flex="5"></span>
    								{{grade.name}}
    								<span flex></span>
    								{{grade.grade}} /
    								{{grade.totalGrade}}
    							</div>
    						<div layout="row" ng-if="section.total > 0">
    							<h3> Total </h3>
    							<span flex> </span>
    							<h3> {{section.totalReceived}} / {{section.total}} </h3>
    						</div>
    					</div>
     				</md-content>
     			</md-tab>
     			<md-tab ng-repeat="section in gradeVM.section" label="{{section.sectionName}}">
     					<md-content class="md-padding" layout="column">
     					<div ng-repeat="grade in section.grades" class="md-padding" ng-if="!grade.showInput">
     						<div layout="row">
                  <md-menu>
                    <md-button class="md-icon-button course" ng-click="$mdOpenMenu($event)" aria-label="more options button">
                     <md-icon md-svg-src="assets/img/icons/ellipsis.svg" size="30"></md-icon>
                    </md-button>
                    <md-menu-content>
                      <md-menu-item>
                      <md-button ng-click="gradeVM.editGrade(grade)" aria-label="edit button">
                       Edit
                      </md-button>
                      </md-menu-item>
                      <md-menu-item>
                      <md-button aria-label="delete button" ng-click="gradeVM.deleteGrade(grade._id)">
                        Delete
                      </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
     							<h3>{{grade.name}} </h3>
     							<span flex></span>
     							<h3> 
    								{{grade.grade}} /
    								{{grade.totalGrade}}
    							</h3>	
  							</div>
  							<md-divider ng-if="!$last"></md-divider>

     					</div>
               <form name="gradeEditForm">
                <div layout="row" ng-repeat="grade in section.grades" ng-if="grade.showInput">
                  <md-input-container flex >
                    <input type="text" name="GradeName" placeholder="Enter Grade Name eg (Midterm 1)" ng-model="grade.name" required>
                  </md-input-container>
                    <span flex></span>
                  <md-input-container>
                    <input style="width:15em" type="number" name="GradeReceived" placeholder="Enter Grade Received eg (20)" ng-model="grade.grade" required>
                  </md-input-container>
                  <md-input-container>
                    <input style="width:15em" type="number" name="GradeTotal" placeholder="Enter Grade Total eg (25)" ng-model="grade.totalGrade" required>
                  </md-input-container>
                  <md-button style="margin-top: 8px" aria-label="addGrade" class="md-icon-button" ng-click="gradeVM.submitEdit(grade)">
                      <ng-md-icon  icon="done" size="30"></ng-md-icon>
                    </md-button>
                    <md-button style="margin-top: 8px" aria-label="closeInput" class="md-icon-button" ng-click="grade.showInput = false">
                      <ng-md-icon  icon="close" size="30"></ng-md-icon>
                    </md-button> 
                </div>
              </form>

     					<form name="gradeForm">
     						<div layout="row" ng-if="section.showInput">
     							<md-input-container flex >
     								<input type="text" name="GradeName" placeholder="Enter Grade Name eg (Midterm 1)" ng-model="gradeVM.newGrade.name" required>
     							</md-input-container>
     								<span flex></span>
     							<md-input-container>
     								<input style="width:15em" type="number" name="GradeReceived" placeholder="Enter Grade Received eg (20)" ng-model="gradeVM.newGrade.grade" required>
     							</md-input-container>
     							<md-input-container>
     								<input style="width:15em" type="number" name="GradeTotal" placeholder="Enter Grade Total eg (25)" ng-model="gradeVM.newGrade.totalGrade" required>
     							</md-input-container>
     							<md-button style="margin-top: 8px" aria-label="addGrade" class="md-icon-button" ng-click="gradeVM.submit(section, $index)">
        							<ng-md-icon  icon="done" size="30"></ng-md-icon>
      							</md-button>
      							<md-button style="margin-top: 8px" aria-label="closeInput" class="md-icon-button" ng-click="gradeVM.cancel($index)">
        							<ng-md-icon  icon="close" size="30"></ng-md-icon>
      							</md-button> 
     						</div>
              </form>

             

     						<div layout="row">
     							<h2>Add a Grade for {{section.sectionName}} </h2>
     							<span flex></span>
     							<md-button aria-label="addGrade" class="md-fab md-warn md-raised" ng-click="section.showInput = true">
        							<ng-md-icon  icon="add" size="24" style="fill: white"></ng-md-icon>
      							</md-button>
      						</div>
      						</form>
     					</md-content>
     			</md-tab>
     		</md-tabs> 
   		 </md-card>
   	</div>
  </md-content>
  <md-button aria-label="menu" ng-class="{ invisible: gradeVM.selectedTab !=0 }" class="md-fab md-primary md-raised md-fab-bottom-right" ng-click="gradeVM.openDialog($event)">
          <ng-md-icon  icon="add" size="24" style="fill: white"></ng-md-icon>
  </md-button>
