<md-content flex md-scroll-y layout-fill layout-padding>
    <div layout="row" layout-align="center center">
       <md-card flex-gt-sm="90" flex-gt-md="40" layout-padding>
  			<md-card-content>
				<h1>Edit Profile</h1>
				<md-divider></md-divider>
				<span flex></span>
				<form name="form" ng-submit="profileVM.update()" role="form">
					<div layout="row">
						<h2 flex="20">Name:</h2>
						<md-input-container flex="35">
							<input type="text" name="First Name" placeholder="John Smith" ng-model="profileVM.user.name">
						</md-input-container>
					</div>
					<div layout="row">
						<h2 flex="20">E-mail:</h2>
						<md-input-container flex="35">
							<input type="text" name="Email" placeholder="john.smith@email.com" ng-model="profileVM.user.id">
						</md-input-container>
					</div>
					<div layout="row">
						<h2 flex="20">Password:</h2>
						<md-input-container flex="35">
							<input type="password" name="Password" placeholder="********" ng-model="profileVM.user.password">
						</md-input-container>
					</div>
					<div layout="row">
						<md-button ng-click="profileVM.goHome()" class="btn btn-primary">Cancel</md-button>
						<span flex></span>
						<md-button type="submit" ng-disabled="form.$invalid || profileVM.dataLoading" ng-click="profileVM.update()" class="btn btn-primary">Submit</md-button>
					</div>
				</form>
     		</md-card-content>
   		 </md-card>
   	</div>
</md-content>